<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpeechUnderstanding.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SpeechUnderstanding.Properties.Settings>
            <setting name="PytonPath" serializeAs="String">
                <value>C:\Python\2.7\python.exe</value>
            </setting>
            <setting name="InterpreterScript" serializeAs="String">
                <value>interpreter\main.py</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>English (United Kingdom)</value>
            </setting>
        </SpeechUnderstanding.Properties.Settings>
    </applicationSettings>
</configuration>